/*  Rectangle for the gene*/
.geneBar {
  background: rgba(239, 71, 111);
  height: 30px;
}


/*  Tooltip for coordinates*/
.tooltip-hist {
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#binSize{
  font-size: 1.2em;
  float: left;
  margin-left: 5%
}

#sgrnaBox {
  padding-left: 5px;
  height: 105px;
  width: 90%;
  overflow: scroll;
  line-height: 1.3em;
  border-style: inset;
  border-width: thin;
  border-radius: 8px;
}

rect:hover{
  cursor: pointer;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.next {
  background-color: rgba(239, 71, 111);
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.round {
  border-radius: 50%;
}

.alert {
  display:inline-grid;
  margin-left: 20px;
}

#alert-hidden{
  transform: translate(5000px, 0px);
  transition: transform 5s;
}
